{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{% static 'shop/favicon.ico' %}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    {% comment %}
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    {% endcomment %}
    <link
      rel="stylesheet"
      href="{% static 'shop/style.css' %}"
      type="text/css"
    />
    <title>RayEcom</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">RayEcom</a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarTogglerDemo02"
              aria-controls="navbarTogglerDemo02"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="/"
                    >Home <span class="sr-only">(current)</span></a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link clearcart" href="/">Clear cart</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="/checkout">Checkout</a>
                </li>
              </ul>
                <ul class="mb-2 mt-lg-0 navbar-right">
                  <li class="nav-item">
                    <button
                      id="cart"
                      type="button"
                      data-html="true"
                      class="btn btn-warning"
                      data-container="body"
                      data-toggle="popover"
                      data-placement="bottom"
                      data-content=""
                    >
                      Cart(0)<i class="fas fa-shopping-cart"></i>
                    </button>
                  </li>
                </ul>
              </li>
            </div>
          </nav>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <form class="card card-sm">
            <div class="card-body row no-gyutters align-items-center">
              <div class="col">
                <input
                  type="search"
                  name="item_name"
                  placeholder="Search for products"
                  class="form-control form-control-borderless"
                />
              </div>
              <div class="col-auto">
                <button class="btn btn-success" name="item_name" type="submit">
                  Search
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

     {% block content %}
     {% endblock  %}
     </body>
     <script src="{% static 'shop/new.js' %}">
 
</script>
</html>
